@charset "utf-8";

.container{
    width: 100%;
    height: auto;
}

.container .inner-container .index .sections{
    flex: 0 1 1400px;
    height: auto;
    padding: 20px 0;
    box-sizing: border-box;
}
.container .inner-container .index .sections .section.sec1{
    flex: 0 1 1400px;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 10px 0;

}
.container .inner-container .index .sections .section.sec1 .sec-con{
    flex: 0 1 1400px;
    height: auto;

}
.container .inner-container .index .sections .section.sec1 .sec-con .gallery{
    width: 100%;
    height: 500px;
    position: relative;

}
.container .inner-container .index .sections .section.sec1 .sec-con .gallery>ul>li{
    width: 100%;
    height: 500px;
    position: absolute;
    object-fit: cover;
}
.container .inner-container .index .sections .section.sec1 .sec-con .gallery>ul>li:nth-child(1){
    background: url(../../img/work_04.jpg)no-repeat 50%/cover;
}
.container .inner-container .index .sections .section.sec1 .sec-con .gallery>ul>li:nth-child(2){
    background: url(../../img/work_01.jpg) no-repeat 50%/cover;
}
.container .inner-container .index .sections .section.sec1 .sec-con .gallery>ul>li:nth-child(3){
    background: url(../../img/work_02.jpg) no-repeat 50%/cover;
}
.container .inner-container .index .sections .section.sec1 .sec-con .gallery>ul>li:nth-child(4){
    background: url(../../img/work_03.jpg) no-repeat 50%/cover;
}
.container .inner-container .index .sections .section.sec1 .sec-con .gallery>ul>li:nth-child(5){
    background: url(../../img/work_00.jpg) no-repeat 50%/cover;
}


.container .inner-container .index .sections .section.sec1 .sec-con .gallery .center-btn{
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}
.container .inner-container .index .sections .section.sec1 .sec-con .gallery .center-btn span.arrow{
    display: block;
    width: 35px;
    height: 35px;
    border: 1px solid;
    border-radius: 50%;
}
.container .inner-container .index .sections .section.sec1 .sec-con .gallery .center-btn span.arrow:hover{
    background-color: black;
}

.container .inner-container .index .sections .section.sec1 .sec-con .gallery .b-con{
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.container .inner-container .index .sections .section.sec1 .sec-con .gallery .b-con .items{
    width: auto;
    height: auto;
}
.container .inner-container .index .sections .section.sec1 .sec-con .gallery .b-con .items ul{
    display: flex;
    justify-content: space-between;
}
.container .inner-container .index .sections .section.sec1 .sec-con .gallery .b-con .items ul li{
    width: 25px;
    height: 25px;
    border: 1px solid;
    box-sizing: border-box;
    border-radius: 50%;
}
.container .inner-container .index .sections .section.sec1 .sec-con .gallery .b-con .items ul li:hover{
    background-color: black;
}
.container .inner-container .index .sections .section.sec1 .sec-con .gallery .b-con .items ul li:not(:last-child){
    margin-right: 5px;
}


.container .inner-container .index .sections .section.sec2{
    flex: 0 1 1200px;
    height: 600px;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
.container .inner-container .index .sections .section.sec2 .sec-con{
    flex: 0 1 1200px;
    height: auto;
    
}
.container .inner-container .index .sections .section.sec2 .sec-con ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    height: 600px;
}
.container .inner-container .index .sections .section.sec2 .sec-con ul>li{
    width: 24%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.container .inner-container .index .sections .section.sec2 .sec-con ul>li.j1{
    margin-bottom: 10px;
}
.container .inner-container .index .sections .section.sec2 .sec-con ul>li:not(.j2){
    margin-right: 10px;
}

@media only screen and (max-width:797px){

    .container .inner-container .index .sections .section.sec2 .sec-con ul>li{
        flex: 0 1 25%;
    }

}
@media only screen and (max-width:640px){

    .container .inner-container .index .sections .section.sec2 .sec-con ul>li{
        flex: 0 0 100%;
    }

}